.footer {
  margin: 8rem;
}
.footer img {
  width: 10%;
  height: auto;
  margin-bottom: 2rem;
}
.navbar_logo {
  width: 100%;
}
.footer_links {
  display: flex;
  justify-content: space-between;
}
.footer_links_row {
  display: flex;
  flex-direction: column;
}
.footer_links_row a {
  text-decoration: none;
  color: gray;
  padding: 0.5rem 0;
  font-weight: 500;
}
.footer_links_row a:hover {
  text-decoration: underline;
  color: red;
}
.footer_links_button {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer_links_button button {
  padding: 1rem 5rem;
  margin: 1rem;
  background-color: transparent;
  border: 3px solid gray;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}
.footer_links_button button:hover {
  background-color: gray;
}
.footer_tags {
  margin: 3rem 0;
}
.socialMedia {
  padding: 3rem 0;
}
.socialMedia h2 {
  margin-bottom: 1rem;
}
.socialMedia a {
  margin: 0.5rem;
  color: white;
  border: 1px solid gray;
  padding: 0.5rem 1rem;
  border-radius: 6rem;
  font-size: 1rem;
}
.socialMedia a:hover {
  background-color: gray;
}
hr {
  color: gray;
  margin: 2rem 0;
}
.footer_copyrights {
  text-align: center;
}

/* Responsive */

@media screen and (max-width: 1024px) {
  .footer {
    margin: 1rem;
  }
  .footer_links {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .footer_links_row h2 {
    font-size: 1.5rem;
  }
}
